
.accordion {
padding-bottom: 8px;
}

.accordion__question:first-child .accordion__heading {
  border-top: 1px solid var(--color-mauve);
}

.accordion__heading {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-mauve);
  border-right: none;
  border-left: none;
  padding: 41px 120px 41px 0;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.accordion__question:first-child .accordion__heading:hover,
.accordion__heading:hover {
  border-color: var(--color-amethyst);
}

.accordion__question:first-child .accordion__heading:active,
.accordion__heading:active,
.is-active.accordion__question:first-child .accordion__heading,
.is-active.accordion__question .accordion__heading {
  border-color: var(--color-studio);
}

.accordion__heading-text {
  position: relative;
}

.accordion__heading-text-wrap {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.accordion__heading-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--color-amethyst);
  transition: transform 0.3s ease;
}

.accordion__heading:hover {
  color: var(--color-amethyst);
}

.accordion__heading:active {
  color: var(--color-studio);
}

.accordion__heading:focus:not(:active) {
  color: var(--white);
  outline: none;
}

.accordion__heading:focus:not(:active) .accordion__heading-text::before {
  transform: translate(-50%, -50%) scaleX(1);
}

.head-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.head-icon-round {
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.accordion__heading:hover .head-icon-round,
.accordion__heading:focus .head-icon-round {
  fill: var(--color-mauve);
  stroke: var(--color-mauve);
}

.accordion__heading:hover .head-icon::before,
.accordion__heading:hover .head-icon::after,
.accordion__heading:focus .head-icon::before,
.accordion__heading:focus .head-icon::after {
  background-color: var(--white);
}

.is-active .head-icon {
  transform: translateY(-50%) rotate(0);
}

.is-active .accordion__heading .head-icon-round {
  fill: var(--color-mauve);
  stroke: var(--color-amethyst);
}

.accordion__content { 
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent;
}

.is-active .accordion__content {
  visibility: visible;
  border-color: var(--color-mauve);
}

.accordion__content-wrap {
  padding-top: 26px;
  padding-bottom: 26px;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
}

.accordion__inner-list {
  width: 91%;
  column-count: 3;
}

.accordion__painter-link.tab-active{
  color: var(--color-studio);
}

.accordion__painter-link.tab-active {
  color: var(--color-studio);
}

.accordion-content {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.accordion-left {
  position: relative;
  margin-right: 24px;
  width: 34%;
  height: 189px;
  border: 2px solid var(--color-pink-sw);
}

.accordion-left:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  bottom: 12px;
  left: 12px;
  display: inline-block;
  background-color: var(--color-pink-sw);
}

.accordion-right {
  width: 35%;
}

.accordion-content__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-night-rider);
}

.accordion-content__info {
  margin-bottom: 5px;
  line-height: 22px;
  color: var(--color-night-rider);
}

.accordion-content__link {
  border-bottom: 2px solid transparent;
  color: var(--color-amethyst);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.accordion-content__link:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.accordion-content__link:active {
  color: var(--color-studio);
  background-color: transparent;
}

@media (max-width: 1100px) {
  .catalog__painters {
    width: calc(800 / 1600 * 100%);
    padding-left: 26px;
  }

  .accordion__content-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }
    
  .accordion__inner-list {
    padding-top: 24px;
    column-count: 2;
    height: 435px;
    width: 100%;
  }

  .accordion-left {
    margin-right: 24px;
    width: 43%;
    min-height: 130px;
  }

  .accordion-left:before {
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
  }

  .accordion-right__wrap {
    width: 49%;
  }

  .catalog__painter--info {
    width: 47.3%;
  }
}

@media (max-width: 980px) {

  .catalog__tab-content-row {
    flex-direction: column-reverse;
  }

  .catalog__tab-content-row .catalog__painters {
    width: 100%;
  }

  .accordion {
    width: 100%;
  }

  .accordion__content-wrap {
    width: 100%;
  }

  .accordion-left {
    width: 41%;
    min-height: 190px;
  }

  .accordion-left:before {
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
  }

  .accordion__inner-list {
    column-count: 3;
    height: auto;
    width: 100%;
  }

  .catalog__tab-content-row .catalog__painter--info-wrap {
    padding-top: 42px;
    width: 100%;
  }

  .catalog__painters {
    padding-left: 0;
  }

  .accordion__inner-list {
    padding-top: 25px;
    padding-bottom: 25px;
}

}

@media (max-width: 700px) {

  .accordion__inner-list {
    padding-top: 24px;
    column-count: 2;
    height: 435px;
    width: 100%;
  }
}

@media (max-width: 400px) {

  .accordion__inner-list {
    padding-top: 24px;
    padding-bottom: 18px;
    column-count: 1;
    height: auto;
    width: 100%;
  }

  .accordion__heading-text-wrap {
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .head-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%) rotate(-180deg);
    transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
  }  

  .accordion__heading {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--color-mauve);
    border-right: none;
    border-left: none;
    padding: 19px 120px 21px 0;
    font-size: 24px;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease, border-color 0.3s ease;
}
}