.top-wrapper {
position: relative;
overflow: hidden;
background-color: var(--color-dim-gray);
}

.top-wrapper__slider {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
animation-name: resize;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-direction:alternate ;
}

.top-wrapper__slide {
    background-size: cover;
    background-position: center top;
}

.top-wrapper__header,
.top-wrapper__hero {
    position: relative;
}

.top-wrapper__header {
z-index: 3;
}

.top-wrapper__hero {
    z-index: 2;
}

.top-wrapper__slide--1 {
    background-image:url("../img/slider-1-desk.jpg");
}

.top-wrapper__slide--1 {
    background-image:url("../img/slider-2-desk.jpg");
}

.top-wrapper__slide--1 {
    background-image:url("../img/slider-3-desk.jpg");
}


@media (max-width:1280px) {
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_0_1024.jpg");
    }
    
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_1_1024.jpg");
    }
    
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_2_1024.jpg");
    }

    

}



@media (max-width:960px) {
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_768-1.jpg");
    }
    
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_768-2.jpg");
    }
    
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_768-3.jpg");
    }

    

}

@media (max-width:420px) {
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_320-1.jpg");
    }
    
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_320-2.jpg");
    }
    
    .top-wrapper__slide--1 {
        background-image:url("../img/1024/hero_main_320-3.jpg");
    }

    

}