  .modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0, 0.4);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}
  
  .modal::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  
  .modal__container {
    position: relative;
    display: none;
    vertical-align: middle;
    margin: 50px auto;
    width: 60%;
    background-color: var(--white);
    cursor: default;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .modal-picture-card {
    min-height: 500px;
  }
  
  .modal.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
 
  .modal__container .modal-open {
    display: inline-block;
  }
  
  .modal__container .animate-open {
    opacity: 1;
    transform: translateY(0);
  }
  
  .modal-close-btn {
    background-color: var(--white);
    border: none;
    position: absolute;
    top: 17px;
    right: 15px;
  }
  
  .modal-close-btn__svg {
    outline: none;
    width: 24px;
    height: 24px;
  }
  
  .modal-close-btn__svg-color {
    transition: fill 0.3s ease-in-out;
  }
  
  .modal-close-btn:focus-visible .modal-close-btn__svg {
    fill: var(--color-amethyst);
  }
  
  .modal-close-btn:active .modal-close-btn__svg-color {
    stroke: var(--color-studio);
  }
  
  .modal-picture-info {
    display: flex;
    align-content: center;
    min-height: 500px;
  }
  
  .modal-picture-info__left {
    width: 45%;
    background-image: url('../img/gallery1_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .modal-picture-info__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;
    width: 55%;
  }
  
  .modal-picture-info__artist-name {
    text-align: left;
    color: var(--color-night-rider);
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }
  
  .modal-picture-info__picture-name {
    text-align: left;
    color: var(--color-night-rider);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  
  .modal-picture-info__picture-date {
    margin-bottom: 39px;
    text-align: left;
    color:  #969696;
    font-size: 12px;
    line-height: 16px;
  }
  
  .modal-picture-info__descr {
    text-align: left;
    color: var(--color-night-rider);
    font-size: 16px;
    line-height: 32px;
  }
  
  .disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
  

.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.content {
	min-height: 200vh;
}

