.events {
    padding-top: 33px;
}

.events-slider {
    position: relative;
}

.swiper-wrapper.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    transition-property: transform;
}

.events-slider__pagination {
    display: none;
}

.events-slider__slide {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
}

.events-slider__slider {
    overflow: hidden;
}

.events-slider__image {
    display: block;
    width: 100%;
}

.events-slider__slide-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 400px;
    padding: 13px 50px 40px;
    border:  1px solid var(--color-vl-grey);
    border-top: none;
}

.events-slider__info {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var( --color-nobel);
}

.events-slider__info-text {
    display: block;
}
.events-slider__info-time {
    display: block;
}

.events-slider__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.events-__descr:last-of-type {
    margin-bottom: 50px;
  }

.events-slider__link {
    margin-top: auto;
}

.events-slider__nav-btn {
    z-index: 12;
    position: absolute;
    top: 50%;
    transform: opacity var(--short);
}

.events-slider__nav-btn--prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.events-slider__nav-btn--next {
   right: 0;
    transform: translate(50%, -50%);
}


.events-slider__nav-btn.nav-btn--disabled {
    opacity: 0;
}


@media (max-width:1280px) {
    .events-slider__nav-btn {
        display: none;
    }

    li.swiper-slide.events-slider__slide {
        height: auto;
    }

    .events-slider__pagination {
        display: inline-block;
        bottom: 0;
        height: auto;
        line-height: 1;
    }

    .events-slider{
        --swiper-pagination-bullet-width:10px;
        --swiper-pagination-bullet-height:10px;
        --swiper-pagination-color:var( --color-dim-gray);
        --swiper-pagination-bullet-horizontal-gaph:8px;

        padding-bottom: 40px;
    }
    
}

@media (max-width:1050px) {

    .events {
        padding-top: 31px;
    }

    .events__container {
        padding-top: -1px;
    }

    .events-slider__image {
        display: block;
        width: 100%;
    }

    .events-slider__slide-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 475px;
        padding: 17px 30px 40px;
        border: 1px solid var(--color-vl-grey);
        border-top: none;
    }

    .events-slider__info {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        padding-left: 81px;
        margin: 0;
      }
      
      .events-slider__info-text,
      .events-slider__info-time {
        display: block;
        text-align: right;
        color: var(--color-nobel);
        font-size: 12px;
        line-height: 16px;
      }

}
@media (max-width: 800px) {
    .events {
        padding-top: 0px;
    }

    .events-slider{
        padding-bottom: 51px;
    }

    .events__container {
        padding-top: 9px;
    }

    .events-slider__slide-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 450px;
        padding: 13px 16px 40px 34px;
        border: 1px solid var(--color-vl-grey);
        border-top: none;
    }

    .events-slider__title {
        max-width: 240px;
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
}

@media (max-width: 400px) {
    .events-slider__slide-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 450px;
        padding: 13px 16px 40px 21px;
        border: 1px solid var(--color-vl-grey);
        border-top: none;
    }

    .events-slider__info {
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        padding-left: 81px;
        padding-bottom: 10px;
        margin: 0;
    }

    .events-slider {
        padding-bottom: 43px;
    }

    .events-slider__descr {
        margin-top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        width: 234px;
    }

    .events-slider__title-dop {
        display: none;
    }
}
